.App {
  text-align: center;
  margin: 0;
  padding:0;
  background-size: cover;
  height: 100vh;
}

.bg{
 
  }
  
  .bg .view {
    /* background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
  
  .bg h6 {
    line-height: 1.7;
  }
  
  @media only screen and (max-width: 400px) {
    .bg .animated img {
      max-height: 50vh;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }
  }
  @media only screen and (max-width: 767px) {
    .bg .animated img {
      max-height: 35vh;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  
  @media (max-width: 767px) and (orientation: landscape) {
    .bg .animated img {
      max-height: 50vh;
      transform: translateX(-50%);
      left: 50%;
      position: relative;
    }
  }
  @media (max-width: 1000px) and (orientation: landscape) {
    .bg .view {
      min-height: 150vh;
    }
  }
  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
